.flat-header{
    background: rgba(0, 0, 0, 0.5);
}
.header-style4 .site-header-inner #logo {
    margin: 29px 0 31px 0;
}
.transparent-head-style4 {
    background-image: url(../images/home4/home.jpg);
    height: 871px;
    padding-top: 204px;
    top: 65px;
}
.transparent-head-style4 .wrap-transparent .title {
    font-size: 30px;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 1.7px;
    margin-top: 35px;
}
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  .mySlides {
    display: none;
    text-align: center;
    margin-top: 30px;
    padding: 15px;
  }
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #fff!important;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .mySlides p{
      color: #fff;
  }
  .form-sent .sent-button {
    width: 150px;
    height: 45px;
    position: static;
    padding: 0;
    border: 0;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}
.header-sticky img{
    width: 70px;
}
.header-sticky .site-header-inner #logo {
    margin: 10px 0 12px 0;
}
.form-sent button:hover{
    background-color: green;
}
.form-sent button{
    background-color: #fff;
    color: #3f7d20;
}
.form-sent button:hover{
    background-color: #fff;
    color: #3f7d20;
}
.flat-hobby .imagebox-hobby a{
    font-size: 15px!important;
}
.flat-introduce-style4 .videobox a.fancybox:before{
    display: none;
}
.flat-event .content-event .entry-info .entry-title a {
    font-size: 18px;
}
.logo img{
    width: 70px!important;
}
@media screen and (min-width:992px){
    .header .container{
        max-width: 1400px;
    }
    .flat-hobby .container{
        max-width: 1400px;
    }
    .hid-desk{
        display: none!important;
    }
}
.main-nav .menu li {
    padding-left: 19px;
}
.header-left-content img {
    margin-top: 5px;
    height: 40px!important;
}
.header-left-content p{
    font-size: 13px;
}
.header-last-content img {
    height: 40px!important;
    margin-top: 5px;
}
.wrap-header .name-div{
    background-color: #3f7d20;
    color: #fff;    
}
.wrap-header .container-fluid{
    max-width: 100%!important;
    text-align: center;
    /* padding-top: 5px;
    padding-bottom: 5px; */
    height: 68px;
}
.header-right-content h1{
    font-weight: 600;
    font-size: 18px;
}
.header-right-content p{
    font-weight: 600;
}
.header-last-content p{
    font-size: 13px;
}
.apply-admission-inner p{
    color: #fff;
    margin-top: 20px;
}
.partner-clients-style4 {
    margin-top: -290px;
}
.programme ul li{
    /* display: inline-block; */
    color: #fff;
    padding: 5px;
}
.programme ul{
    text-align: center;
    margin-top: 20px;
}
.apply-admission-wrap .title span{
    font-size: 25px;
}
.apply-admission-wrap h3{
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
.prog li{
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    font-weight: 600;
}
.prog{
    text-align: center;
}
.flat-hobby-style4 {
    margin-top: 145px;
    margin-bottom: 50px;
}
.latest-blog-style4 {
    padding: 39px 0 120px 0;
}
.latest-blog .post-bg .bg .featured-post {
    float: right;
    /* transform: translateY(-106%); */
}
.latest-blog-type1 .post .post-content .entry-info {
    position: relative;
    top: -215px;
}
.testimonial-style1 .wrap-quote .client-info li span{
    transform: none;
}
/* .testimonial-style1 .wrap-quote .flex-control-paging li a{
    display: none;
} */
.testimonial-style1 .wrap-quote .client-info li .speech {
    margin: 37px 43px 23px 0;
}
.header-right-content img{
    width: 50px;
}
.header-right-content ul li{
    display: inline-block;
}
.header-style4 #main-nav > ul > li {
    padding-bottom: 0px;
    padding-top: 15px;
}
.new-menu-li{
    padding-top: 20px!important;
}
.header-menu .main-nav .menu li a:hover{
    color: #fff;
}
.hov a:hover{
    color: #fff!important;
}
.bg-clff9819 {
    background-color: #3f7d20;
}
.apply-admission-wrap.type4{
    background-color: #3f7d20;
}
.flat-event-bg .content-event-left .section-overlay{
    background-color: #3f7d20;
}
.flat-event-style4 .content-event .entry-info .entry-meta ul li .icon-event{
    color: #fff;
}
.heading-type13:after{
    background: #fff;
}
.heading-type14:after {
    background: #3f7d20;
}
.latest-blog .post .post-content .post-link a:hover{
    color: #3f7d20;
}
.cl-fbb545 {
    color: #3f7d20;
}
.latest-blog.cl-dots2 .owl-carousel .owl-dots button.owl-dot.active {
    width: 39px;
    height: 39px;
    color:  #3f7d20 !important;
    border-radius: 50%;
    background: none;
    border: 1px solid  #3f7d20 !important;
}
.post-title h5 a:hover{
    color: #3f7d20;
}
.overlayfbb545{
    background-color: rgb(63, 125, 32, 0.7);
}
#scroll-top:hover {
    background-color: #3f7d20;
}
#main-nav .sub-menu{
    background-color: #3f7d20;
    color: #fff;
}
.header-sticky .site-header-inner #main-nav .new-menu-li{
    margin-bottom: 10px;
}
.transparent-head-style4 .wrap-transparent .text {
    margin: 31px 0 31px 0;
    font-size: 18px;
    max-width: 470px;
}
.menu2 ul li{
    display: inline-block;
    padding: 0px 10px;
}
.menu2 ul li a{
    color: #fff;
}
.menu2{
    height: 30px;
}
.row2{
    height: 68px;
}
.name-div1{
    height: 30px!important;
    background-color: rgba(0, 0, 0, 0.5)!important;
}
@media screen and (max-width:1024px) and (min-width:1020px){
    .header{
        height: 110px!important;
    }
    .transparent-head-style4{
        top: 110px!important;
    }
    .header-sticky{
        height: 122px!important;
    }
    .header-sticky .site-header-inner #main-nav > ul > li {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
#main-nav .my-sub-menu{
    min-width: 145px!important;
}
.mt-130{
    margin-top: -50px!important;
}
.content-event-right .owl-dots{
    display: none;
}
.flat-event-bg .content-event-right{
    background: rgba(0, 0, 0, 0.5);
}
.content-event-right .title-section{   
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 40px!important;
    background: grey;

}
.field-act .avatar{
    display: none;
}
.testimonial-style1 .wrap-info{
    background-image: url(../images/home1/green.jpg);
}
.main-nav .menu li a{
    font-size: 15px;
}
.flat-event-style4 .wrap-event .title-section{
    margin-bottom: 30px;
}
.flat-event-bg .content-event{
    margin-bottom: 30px;
}
.content-event-right .overlay3f4c99{
    display: none;
}
.content-event-right .heading-type12:after{
    background: #fff;
}
.content-event-right .title-section .flat-title{
    color: #fff;
}
@media screen and (max-width:1024px){
    .title-section .flat-title.small {
        font-size: 28px;
        line-height: 35px;
    }
    .flat-event .content-event .entry-info .entry-title a {
        font-size: 15px;
    }
    .flat-event .content-event .entry-info .entry-meta ul li .icon-event {
        font-size: 15px;
    }
    .flat-event .content-event .entry-info .entry-title a {
        font-size: 15px;
    }
    .flat-event .content-event .entry-info .entry-meta ul li .detail-event {
        font-size: 15px;
    }
}
.latest-blog-style4 .title-section {
    margin-bottom: 35px;
}
.latest-blog-style4 {
    padding: 35px 0 50px 0;
}
.content-event-right .heading-type12:after{
    bottom: 42px;
}
.footer-type1 .form-send-email {
    padding-top: 28px;
}
.first-p{
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.form-send-email p{
    font-size: 17px;
}
.second-p{
    margin-bottom: 10px;
}
#footer a:hover{
    color: #3f7d20!important;
}
#footer #footer-widget {
    padding-top: 26px;
    padding-bottom: 30px;
}
#footer #footer-widget .widget.widget-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}
#footer #footer-widget .widget-social-media li {
    display: block;
    padding-right: 26px;
}
.widget-social-media li a{
    font-size: 17px;
    color: #7a7a7a;
    font-weight: 300;
}
#footer #footer-widget .widget-social-media li{
    margin-bottom: 13px;
}
.background-wh{
    padding: 0;
}
.background-wh .imagebox-courses-type2 .info-courses .instructor{
    display: none;
}
.has-effect-icon:hover .elm-link{
    display: none;
}
.imagebox-courses-type2 .evaluate{
    display: none;
}
.imagebox-courses-type2 .info-courses {
    padding: 39px 27px 20px 23px;
}
.online-courses-style3{
    padding-top: 178px;
}
.online-courses-style3 .title-section {
    margin-bottom: 15px;
}
.imagebox-courses-type2 .info-courses .courses-name a {
    font-size: 16px;
}
.imagebox-courses-type2 .info-courses .package{
    display: none;
}
.imagebox-courses-type2 .info-courses .courses-name a:hover{
    color: #3f7d20;
}
.pad-50{
    padding: 50px 0;
}
.online-courses-style3 .section-heading{
    margin-bottom: 40px;
}
.pad-50 .owl-carousel .owl-item img{
    width: 100%;
}
.courses-single-page{
    padding-top: 180px;
}
.tab-title li{
    width: 31%;
}
.tab-title.type1 li {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.tab-title.type1 li.overview span:before {
    content: "\f0f6";
}
.tab-title.type1 li.instructor span:before{
    content: "\f0f6";
}
.tab-title.type1 li.review span:before {
    content: "\f0f6";
}
.tab-title.type1 li.review span:before {
    content: "\f0f6";
}
.tab-title.type1 li.review span:before {
    content: "\f0f6";
}
.tab-title.type1 li.active {
    background: #3f7d20;
}
.tab-title.type1 li:after{
    border-top: 12px solid #3f7d20;
}
.tab-title.type1 li:hover{
    background: #3f7d20;
}
.table a:hover{
    color: #3f7d20;
}
.table h3{
    font-weight: 600;
}
.pd-about{
    padding-top: 180px;
}
.edukin-introduce .bg-element2 {
    background-image: url(../images/about/lib.jpg);
}
.element-col50 ul li{
    display: inline-block;
}
.edukin-introduce .bg-element3 {
    background-image: url(../images/home4/publication-resized.png);
}
.iro{
    margin-top: 120px;
    margin-bottom: 50px;
    padding-top: 0!important;
}
.iro ul li{
    padding: 10px;
    border-top: 1px solid #3f7d20;
    border-right: 1px solid #3f7d20;
    border-left: 1px solid #3f7d20;
    border-bottom: 1px solid #3f7d20;
}
/* .iro ul li:last-child{
    border-bottom: 1px solid #3f7d20;
} */
.iro ul li a:hover {
 color: #3f7d20;
}
.iro .title-section .flat-title.larger{
    font-size: 25px;
}
.iro .heading-type9:after {
    content: "";
    width: 35px;
    background: #333;
    position: absolute;
    height: 2px;
    bottom: 7px;
    margin-left: 16px;
}
.iro .title-section{
    margin-bottom: 30px;
}
.iro p{
    font: 16px/27px "Poppins", sans-serif;
    color: #8a8a8a;
    margin-bottom: 11px;
    letter-spacing: 0.5px;
}
.iro ul li a{
    font-weight: 600;
    font-size: 16px;
    color: #8a8a8a;
}
.iro .tab-title li {
    width: 100%;
    line-height: 24px;
}
.iro .heading-type13:after {
    background: #000;
}
.inter .flat-portfolio .flat-filter-isotype{
    width: 100%!important;
}
.btn-link{
    color: #3f7d20;
}
.btn-link:hover {
    color: #3f7d20;
    text-decoration: none;
}
.iro button:hover{
    background: none;
}
.iro .card-body ul li{
    border: none!important;
    list-style-type: disc;
}
.iro .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem 1.25rem 1.25rem 40px;
}
.btn-link:focus{
    text-decoration: none;
}
.item-ol ol li{
    margin-bottom: 10px;
    list-style-type: decimal;
}
.item-ol ul li{
    border: none;
    list-style-type: disc;
}
.courses-single-page .flat-tabs {
    border-bottom: none;
    padding: 41px 0 5px 0;
    margin-bottom: 0px;
}
.in-fac ul li{
    border: none;
    list-style-type: none;
}
.out-fac ol li{
    margin-bottom: 10px;
}
.customised ul li{
    border: none;
    list-style-type: none;
}
.strong{
    font-weight: 700!important;
}
.iro table tr td{
    font: 16px/27px "Poppins", sans-serif;
    color: #8a8a8a;
    margin-bottom: 11px;
    letter-spacing: 0.5px;
}
.content-blog{
    padding-top: 150px;
}
.site-content .post-blog .content-post .post-meta .clendar-wrap {
    padding: 0;
    background: none;
}
.content-post-blog .content-post-inner p {
    margin: 8px 0 8px 0;
}
.site-content .post-blog .content-post {
    padding: 30px 20px 55px 30px;
}
.site-content .post-blog .content-post-inner .entry-title a:hover{
    color: #3f7d20;
}
.site-content .post-blog .content-post-inner .flat-button a:hover{
    color: #3f7d20;
}
.post-meta .social i:hover{
    color: #3f7d20;
}
.content-blog .form-sent .sent-button {
    width: 60px;
    height: 45px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    border: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: #3f7d20;
}
.form-sent .sent-button i{
    color: #fff;
}
.widget-search .search-form .search-button{
    background-color: #3f7d20;
    border: 2px solid #3f7d20;
}
.sidebar .widget .widget-title span:after{
    background-color: #3f7d20;
}
.widget-categories ul.categories-wrap li a:hover{
    color: #3f7d20;
}
.apply-admission-wrap.type1 {
    box-shadow: rgb(24, 50, 81) 0px -11px 0px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
.flat-benefit.style1 {
    background-color: rgba(0,0,0,0.5);
    background-size: cover;
    padding: 45px 0 47px 0;
}
.ba .heading-type2:after{
    background: #fff;
}
.ba .iconbox-benefit .iconbox-content a {
    font-size: 16px;
    font-weight: 400;
}
.ba .iconbox-benefit .iconbox-content a:hover {
    color: #fff!important;
}
.flat-benefit.style1 .title-section {
    margin-bottom: 25px!important;
}
.ba .col-benefit-left {
    width: 55%!important;
    float: left;
}
.ba .apply-admission-wrap.type3 {
    box-shadow: rgb(24, 50, 81, 0.7) 0px -11px 0px 0px;
    background-color: #3f7d20;
}
.ba .bg-clff5f60 {
    background-color: #3f7d20;
}
.ba-ad .header-right-content p {
    font-weight: 400;
    color: #fff!important;
}
.center-row{
    justify-content: center;
}
.center-row h1 {
    color: #fff;
    font-size: 21px;
    padding-top: 41px;
    font-weight: 500;
}
.blink {
    animation: blinker 2s step-start infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .ba .bg-apply-type1 .apply-now {
    padding: 58px 58px 50px 58px;
}
.cptch{
    text-align: center;
    margin-bottom: 0!important;
}
.last-li-form{
    margin-bottom: 0!important;
}
.ba .bg-apply-type1 .apply-now ul {
    margin-bottom: 35px;
}
.ba-ad .header-right-content img {
    width: 75px;
}
.ba-ad .header-right-content ul li:first-child{
    /* margin-right: 7px; */
}
.ba-ad .header-right-content ul li:first-child img{
    vertical-align: text-bottom;
    margin-top: 5px;
}
.ba-ad .header-right-content ul li:nth-child(2){
    position: relative;
    top: -12px;
}
.ba-ad .header-left-content img {
    margin-top: 13px;
    height: 51px!important;
}
.ba-ad .wrap-header .container-fluid {
    max-width: 100%!important;
    text-align: center;
    /* height: 96px; */
}
.ba-ad .header-last-content img {
    height: 50px!important;
    margin-top: 11px;
}
.ba-ad .title-section .flat-title.small {
    font-size: 30px;
    line-height: 40px;
}
.flat-benefit .apply-admission .apply-admission-wrap {
    padding: 31px 20px 36px 17px;
}
.login{
        font-family: "Poppins", sans-serif;
        background-color: #070807;
        background-image: url(../images/about/login-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
}
.intro-section {
    color: #fff;
}
.intro-content-wrapper {
    width: 450px;
    max-width: 100%;
}
.brand-wrapper {
    margin-bottom: 20px;
}
.brand-wrapper h1{
    font-size: 30px;
    font-weight: 500;
}
.intro-text{
    margin-bottom: 15px;
}
.login-title {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.login-wrapper .form-control {
    color: #fff;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #e7e7e7;
    padding: 5px 3px;
    font-size: 14px;
    font-weight: bold;
}
.login-wrapper .form-group {
    margin-bottom: 28px;
}
.forgot-password-link{
    color: #fff;
}
.login-wrapper {
    width: 300px;
    max-width: 100%;
    color: #fff;
    margin-bottom: 40px;
}
.min-vh-100 {
    min-height: 69vh!important;
}
.login-btn{
    background: #3f7d20!important;
    border: 2px solid #3f7d20!important;
}
@media screen and (max-width:767px){
    .hidden-phone{
        display: none!important;
    }
    .session .col11{
        background-color: #63a343;
        padding: 15px!important;
    }
    .header-right-content ul li {
        display: block!important;
    }
    .ba-ad .header-right-content ul li:nth-child(2) {
        position: relative;
        top: 5px;
    }
    .ba-ad .wrap-header .container-fluid {
        max-width: 100%!important;
        text-align: center;
        /* height: 170px; */
    }
    .center-row h1{
        text-align: center;
    }
    .note-p{
        margin-bottom: 30px;
    }
    .header-last-content p{
        line-height: 16px;
    }
    .header-right-content h1 {
        font-weight: 600;
        font-size: 16px;
    }
    .session .col2{
        background-color: #e7e7e7!important;
        padding: 15px!important;
    }
    .session h2{
        font-size: 14px!important;
        font-weight: 500!important;
    }
    .session .col1{
        background-color: #e7e7e7;
        padding: 15px!important;
    }
}
@media screen and (max-width:1025px) and (min-width:768px){
    .ba-ad .wrap-header .container-fluid {
        max-width: 100%!important;
        text-align: center;
        /* height: 115px; */
    }
    .header-last-content p{
        line-height: 16px;
    }
}
.login-wrapper{
    width: 100%!important;
}
.red {
    color: red;
}
.note-p{
    color: #fff;
}
.note-p a{
    color: #fff;
}
.note-p{
    margin-bottom: 30px;
    margin-top: 30px;
}
.my-slider  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .mt-30{
      margin-top: 30px;
  }
  .invite-h2{
      font-size: 22px;
      margin-bottom: 30px;
      /* text-align: center; */
  }
  .special{
      font-weight: 700;
      color: #3f7d20;
  }
  .my-col-6{
    background: #fff3f3;
    padding: 50px;
  }
  .my-col-61{
      background: #e7e7e7;
      padding: 50px;
  }
  .my-col-6 ul li{
      margin: 10px;
      list-style-type: disc;
  }
  .my-col-61 ul li{
    margin: 10px;
    list-style-type: disc;
}
@media screen and (max-width:768px){
    .hidden-mob{
        display: none!important;
    }

}
@media screen and (min-width:1441px){
    .disp{
        display: block!important;
    }
    .no-disp{
        display: none!important;
    }
}
@font-face {
    font-family: KrutiDev;
    src: url(../fonts/Kruti\ Dev\ 010\ Regular.ttf);
}
.kruti{
    font-size: 23px;
    font-family: KrutiDev;
    font-weight: 500;
}
.hindi ul li{
    font-size: 23px;
    font-family: KrutiDev;
    font-weight: 500;
}
a:hover{
    color: #3f7d20;
}
@media screen and (min-width:768px){
    .none-lg{
        display: none!important;
    }
}
.pad-0{
    padding: 0;
}
.tiss-footer{
    letter-spacing: 0.2px;
    font-family: 'Poppins';
    font-size: 15px;
    color: #7a7a7a;
}
.mb-30{
    margin-bottom: 30px;
}
.tbl-container h2{
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
}
.tbl-h3{
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}
.tbl-container h3{
    color: #8a8a8a!important;
}
.tbl-container h3, p{
    color: #8a8a8a!important;
}
.new_hindi{
    font-size: 17px;
    font-family: KrutiDev; 
    font-weight: 400;
}
.session h2{
    font-size: 18px;
    font-weight: 600;
}
.session .col1{
    background-color: #e7e7e7;
    padding: 30px;
}
.session .col2{
    background-color: #fff3f3;
    padding: 30px;
}
.session .col11{
    background-color: #63a343;
    padding: 30px;
}